# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*

# Zephyr Reports
ZEPHYR_JOURNEY_REPORT.md
ZEPHYR_REPORT.md
ZEPHYR_TUTORIAL.md
"Zephyr Cloud_ Micro-Frontends na Prática.md"

Zephyr Cloud*.md
